<div class="product">
  <div class="product-cart-details">
    <h4 class="product-title">
      <a
        [routerLink]="['/product', item.productSlug]"
        [queryParams]="{ varSlug: item.variation.slug }"
        >{{ item.variationName }}</a
      >
    </h4>

    <span class="cart-product-info">
      <span class="cart-product-qty">{{ item.qty }}</span>
      x {{ price | currency: "PKR":"symbol":"1.2-2" }}
    </span>
  </div>
  <!-- End .product-cart-details -->

  <figure class="product-image-container">
    <a
      [routerLink]="['/product', item.productSlug]"
      [queryParams]="{ varSlug: item.variation.slug }"
      class="product-image"
    >
      <img
        [src]="item.variation.mainImage + '?x-oss-process=image/resize,w_60'"
        [alt]="item.variationName"
      />
    </a>
  </figure>
  <div class="btn-remove" title="Remove Product" (click)="removeItem()">
    <i class="icon-close"></i>
  </div>
</div>
<!-- End .product -->
