<div class="dropdown cart-dropdown">
  <a
    href="#"
    class="dropdown-toggle"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    data-display="static"
  >
    <div class="icon">
      <i class="icon-shopping-cart"></i>
      <span class="cart-count">{{ (cart$ | async)?.items?.length }}</span>
    </div>
    <p>Cart</p>
  </a>

  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-cart-products" *ngIf="cart$ | async as cart">
      <app-cart-dropdown-item
        *ngFor="let item of cart.items"
        [item]="item"
        (onRemoveItem)="removeFromCart($event)"
      ></app-cart-dropdown-item>
    </div>
    <!-- End .cart-product -->

    <div class="dropdown-cart-total">
      <span>Total</span>

      <span class="cart-total-price">{{
        (cart$ | async)?.total | currency: "PKR":"symbol":"1.2-2"
      }}</span>
    </div>
    <!-- End .dropdown-cart-total -->

    <div class="dropdown-cart-action">
      <a [routerLink]="['/cart']" class="btn btn-primary">View Cart</a>
      <a [routerLink]="['/checkout']" class="btn btn-outline-primary-2"
        ><span>Checkout</span><i class="icon-long-arrow-right"></i
      ></a>
    </div>
    <!-- End .dropdown-cart-total -->
  </div>
  <!-- End .dropdown-menu -->
</div>
<!-- End .cart-dropdown -->
