<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/terms-and-conditions">Terms and Conditions</a>
        </li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="about-text text-center mt-3">
            <h2 class="title text-center mb-2">Terms of Use</h2>
            <!-- End .title text-center mb-2 -->
            <span>
              These
              <q>Terms of Use</q>
              administrate your access to and use of this website at eboves.com
              (the
              <q>Site</q>
              ). The site is operated by the team of Eboves. We provide the
              site, including all information, tools and services available
              through the site, to you, the
              <q>User</q>
              , conditioned upon your acceptance of these Terms of Use.
            </span>
            <blockquote class="testimonial testimonial-icon text-center">
              <p>
                “ PLEASE READ THESE TERMS OF USE CAREFULLY. BY ACCESSING OR
                USING THE SITE, YOU ARE ACCEPTING AND AGREEING TO BE BOUND BY
                THESE TERMS OF USE. IF YOU DO NOT ACCEPT AND AGREE TO THESE
                TERMS OF USE, PLEASE DO NOT USE THE SITE. ”
              </p>
            </blockquote>
          </div>
          <!-- End .about-text -->
        </div>
        <!-- End .col-lg-10 offset-1 -->
      </div>
      <!-- End .row -->
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="about-text text-center mt-3">
            <h2 class="title text-center mb-2">Return and Replace Policy</h2>
            <!-- End .title text-center mb-2 -->
            <span>
              If you are not satisfied with the purchase of a product, you may
              return or replace it for free within 30 days from delivery date.
              <q>Conditions for Return</q>
              given below will apply.
            </span>
            <div class="mb-2"></div>
            <h2 class="title text-center mb-2">Conditions for Return</h2>
            <ul>
              <li>
                Product can be returned or replaced if it is damaged during the
                delivery process. For example, expired, broken, etc.
              </li>
              <li>
                We offer 30 days conditional Return Policy. To return or replace
                your product, you should inform us with a valid reason within 30
                days of delivery.
              </li>
              <li>
                Money can be refunded and order can be returned or replaced only
                after the verification from the team of Eboves.
              </li>
              <li>
                The product must be unused/unworn/unwashed/undamaged by the
                user.
              </li>
              <li>
                The product must include the original tags/user manual/warranty
                cards/freebies/accessories.
              </li>
              <li>
                The product must be returned in the original and undamaged
                manufacturer packaging/box.
              </li>
              <li>
                We reserve full rights to refuse the return of a product if we
                believe, in good faith, that the above mentioned conditions are
                not met.
              </li>
            </ul>
          </div>
          <!-- End .about-text -->
        </div>
        <!-- End .col-lg-10 offset-1 -->
      </div>
      <!-- End .row -->
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="about-text text-center mt-3">
            <h2 class="title text-center mb-2">Privacy Notice</h2>
            <!-- End .title text-center mb-2 -->
            <span>
              We respect your concerns about privacy so this notice will explain
              everything about privacy. i.e. what type of information will be
              obtained from you and how we will use that information.
            </span>
            <div class="mb-2"></div>
            <h2 class="title text-center mb-2">Information We Obtain</h2>
            <ul>
              <li>
                Contact information (such as name, postal address, email address
                and telephone number).
              </li>
              <li>
                Purchase and transaction information, such as payment card
                details, billing and shipping address, and information about the
                products, courses and other items you purchase.
              </li>
              <li>Login credentials.</li>
              <li>Demographic information, including age and gender.</li>
            </ul>
            <div class="mb-2"></div>
            <h2 class="title text-center mb-2">How We Will Use It</h2>
            <ul>
              <li>Communicate with you or confirmation of your order.</li>
              <li>
                Send you alerts about upcoming products, special offers and
                deals via Email and SMS if you request to receive them.
              </li>
              <li>
                Operate and improve our business (including developing new
                products and services, managing, and performing accounting,
                auditing and other internal functions).
              </li>
              <li>
                Protect against, identify and prevent fraud and other unlawful
                activity, claims and other liabilities.
              </li>
            </ul>
          </div>
          <!-- End .about-text -->
        </div>
        <!-- End .col-lg-10 offset-1 -->
      </div>
      <!-- End .row -->

      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="about-text text-center mt-3">
            <h2 class="title text-center mb-2">Copyrights</h2>
            <!-- End .title text-center mb-2 -->
            <span>
              The entire contents of the Site are protected by copyright as a
              collective work under Pakistani copyright laws and international
              conventions. All rights are reserved.
            </span>
            <div class="mb-2"></div>
            <h2 class="title text-center mb-2">Termination</h2>
            <span>
              You agree that the Site shall not be liable to you or to any other
              person as a result of any suspension or termination of our
              services. If you are dissatisfied with the Site or with any terms,
              conditions, rules, policies, guidelines or practices in operating
              the Site, your sole and exclusive remedy is to discontinue using
              the site.
            </span>
          </div>
          <!-- End .about-text -->
        </div>
        <!-- End .col-lg-10 offset-1 -->
      </div>
    </div>
    <!-- End .container -->

    <div class="mb-2"></div>
    <!-- End .mb-2 -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
