<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <!-- <div id="map" class="mb-5"></div> -->
    <!-- End #map -->
    <div class="container">
      <div class="touch-container row justify-content-center">
        <div class="col-md-9 col-lg-7">
          <div class="text-center">
            <h2 class="title mb-1">Get In Touch</h2>
            <!-- End .title mb-2 -->
            <p class="lead text-primary">
              We collaborate with ambitious brands and people. we’d love to
              build something great together.
            </p>
            <!-- End .lead text-primary -->
            <p class="mb-3">
              If you want to get your brand up on this platform, does not matter
              if it's a small or large we take it all, get in touch with us.
            </p>
          </div>
          <!-- End .text-center -->

          <form [formGroup]="contactUsForm" class="contact-form mb-2">
            <div class="row">
              <div class="col-sm-4">
                <label for="cname" class="sr-only">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="cname"
                  required
                  placeholder="Name"
                  formControlName="name"
                />
                <span
                  class="error"
                  *ngIf="name.invalid && (name.dirty || name.touched)"
                >
                  Name must be at least 3 characters</span
                >
              </div>
              <!-- End .col-sm-4 -->

              <div class="col-sm-4">
                <label for="cemail" class="sr-only">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="cemail"
                  required
                  placeholder="Email"
                  formControlName="email"
                />
                <span
                  class="error"
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                >
                  Invalid Email</span
                >
              </div>
              <!-- End .col-sm-4 -->

              <div class="col-sm-4">
                <label for="cphone" class="sr-only">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="cphone"
                  placeholder="Phone"
                  formControlName="phone"
                />
                <span
                  class="error"
                  *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                >
                  Invalid Phone (03xxxxxxxxx)</span
                >
              </div>
              <!-- End .col-sm-4 -->
            </div>
            <!-- End .row -->

            <label for="csubject" class="sr-only">Subject</label>
            <input
              type="text"
              class="form-control"
              id="csubject"
              required
              placeholder="Subject"
              formControlName="subject"
            />
            <span
              class="error"
              *ngIf="subject.invalid && (subject.dirty || subject.touched)"
            >
              Must provide subject</span
            >

            <label for="cmessage" class="sr-only">Message</label>
            <textarea
              class="form-control"
              cols="30"
              rows="4"
              id="cmessage"
              required
              placeholder="Message"
              formControlName="message"
            ></textarea>
            <span
              class="error"
              *ngIf="message.invalid && (message.dirty || message.touched)"
            >
              Must provide message</span
            >

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-outline-primary-2 btn-minwidth-sm my-4"
                [disabled]="
                  (contactUsForm.statusChanges | async) !== formStatus.VALID
                "
                (click)="contactUs()"
              >
                <span>SUBMIT</span>
                <i class="icon-long-arrow-right"></i>
              </button>
            </div>
            <!-- End .text-center -->
          </form>
          <!-- End .contact-form -->
        </div>
        <!-- End .col-md-9 col-lg-7 -->
      </div>
      <!-- End .row -->

      <hr class="mt-3 mb-5 mt-md-1" />

      <div class="row">
        <div class="col-md-6">
          <div class="contact-box text-center">
            <h3>Start a Conversation</h3>

            <div><a href="mailto:info@eboves.com">info@eboves.com</a></div>
            <div>
              <a href="tel:+923408704981">+92 340 8704981</a>
            </div>
          </div>
          <!-- End .contact-box -->
        </div>
        <!-- End .col-md-4 -->

        <div class="col-md-4">
          <div class="contact-box text-center">
            <h3>Social</h3>

            <div class="social-icons social-icons-color justify-content-center">
              <a
                href="https://www.facebook.com/ebovesofficial/"
                class="social-icon social-facebook"
                title="Facebook"
                target="_blank"
                ><i class="icon-facebook-f"></i
              ></a>
              <a
                href="https://www.instagram.com/ebovesofficial/"
                class="social-icon social-instagram"
                title="Instagram"
                target="_blank"
                ><i class="icon-instagram"></i
              ></a>
            </div>
            <!-- End .soial-icons -->
          </div>
          <!-- End .contact-box -->
        </div>
        <!-- End .col-md-4 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
