<div class="banner-group">
  <div class="container">
    <div class="row" *ngIf="banners">
      <div class="col-md-12 col-lg-5">
        <div class="banner banner-large banner-overlay banner-overlay-light">
          <a [href]="banners[3].href">
            <img [src]="banners[0].image" alt="Banner" />
          </a>

          <div class="banner-content banner-content-top">
            <!-- <h4 class="banner-subtitle">Clearence</h4> -->
            <!-- End .banner-subtitle -->
            <h3 class="banner-title">{{ banners[0].title }}</h3>
            <!-- End .banner-title -->
            <!-- <div class="banner-text">from $19.99</div> -->
            <!-- End .banner-text -->
            <a [href]="banners[0].href" class="btn banner-link"
              >Shop Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->
      </div>
      <!-- End .col-lg-5 -->

      <div class="col-md-6 col-lg-3">
        <div class="banner banner-overlay">
          <a [href]="banners[3].href">
            <img [src]="banners[1].image" alt="Banner" />
          </a>

          <div class="banner-content banner-content-bottom">
            <!-- <h4 class="banner-subtitle">On Sale</h4> -->
            <!-- End .banner-subtitle -->
            <h3 class="banner-title text-white">{{ banners[1].title }}</h3>
            <!-- End .banner-title -->
            <!-- <div class="banner-text text-white">from $39.99</div> -->
            <!-- End .banner-text -->
            <a [href]="banners[1].href" class="btn banner-link"
              >Shop Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->
      </div>
      <!-- End .col-lg-3 -->

      <div class="col-md-6 col-lg-4">
        <div class="banner banner-overlay">
          <a [href]="banners[3].href">
            <img [src]="banners[2].image" alt="Banner" />
          </a>

          <div class="banner-content banner-content-top">
            <!-- <h4 class="banner-subtitle text-grey">New Arrivals</h4> -->
            <!-- End .banner-subtitle -->
            <h3 class="banner-title text-white">
              {{ banners[2].title }}
            </h3>
            <!-- End .banner-title -->
            <a [href]="banners[2].href" class="btn banner-link"
              >Discover Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->

        <div class="banner banner-overlay banner-overlay-light">
          <a [href]="banners[3].href">
            <img [src]="banners[3].image" alt="Banner" />
          </a>

          <div class="banner-content banner-content-top">
            <!-- <h4 class="banner-subtitle">On Sale</h4> -->
            <!-- End .banner-subtitle -->
            <h3 class="banner-title">{{ banners[3].title }}</h3>
            <!-- End .banner-title -->
            <!-- <div class="banner-text">up to 30% off</div> -->
            <!-- End .banner-text -->
            <a [href]="banners[3].href" class="btn banner-link"
              >Shop Now<i class="icon-long-arrow-right"></i
            ></a>
          </div>
          <!-- End .banner-content -->
        </div>
        <!-- End .banner -->
      </div>
      <!-- End .col-lg-4 -->
    </div>
    <!-- End .row -->
  </div>
  <!-- End .container -->
</div>
<!-- End .banner-group -->
