<div class="banner-group">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-lg-5">
              <div class="banner banner-large banner-overlay banner-overlay-light">
                  <a href="#">
                      <img src="assets/images/demos/demo-2/banners/banner-1.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-top">
                      <h4 class="banner-subtitle">Clearence</h4><!-- End .banner-subtitle -->
                      <h3 class="banner-title">Coffee Tables</h3><!-- End .banner-title -->
                      <div class="banner-text">from $19.99</div><!-- End .banner-text -->
                      <a href="#" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-lg-5 -->

          <div class="col-md-6 col-lg-3">
              <div class="banner banner-overlay">
                  <a href="#">
                      <img src="assets/images/demos/demo-2/banners/banner-2.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-bottom">
                      <h4 class="banner-subtitle text-grey">On Sale</h4><!-- End .banner-subtitle -->
                      <h3 class="banner-title text-white">Amazing <br>Armchairs</h3><!-- End .banner-title -->
                      <div class="banner-text text-white">from $39.99</div><!-- End .banner-text -->
                      <a href="#" class="btn btn-outline-white banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-lg-3 -->

          <div class="col-md-6 col-lg-4">
              <div class="banner banner-overlay">
                  <a href="#">
                      <img src="assets/images/demos/demo-2/banners/banner-3.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-top">
                      <h4 class="banner-subtitle text-grey">New Arrivals</h4><!-- End .banner-subtitle -->
                      <h3 class="banner-title text-white">Storage <br>Boxes & Baskets</h3><!-- End .banner-title -->
                      <a href="#" class="btn btn-outline-white banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->

              <div class="banner banner-overlay banner-overlay-light">
                  <a href="#">
                      <img src="assets/images/demos/demo-2/banners/banner-4.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-top">
                      <h4 class="banner-subtitle">On Sale</h4><!-- End .banner-subtitle -->
                      <h3 class="banner-title">Lamps Offer</h3><!-- End .banner-title -->
                      <div class="banner-text">up to 30% off</div><!-- End .banner-text -->
                      <a href="#" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-lg-4 -->
      </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .banner-group -->