@import "../../../../../assets/sass/mixins/breakpoints";
.carousel-inner img {
  width: 100%;
  height: 100%;
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px;
}

#custCarousel .carousel-indicators > li {
  width: 100px;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

// .carousel-item img {
//   width: 80%;
// }

// Image Gallery

.product-gallery {
  margin-bottom: 2rem;
}

.btn-product-gallery {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #777;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
  background-color: #fff;
  box-shadow: 2px 6px 16px rgba(51, 51, 51, 0.05);
  transition: all 0.35s ease;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $primary-color;
  }
}

.product-image-gallery {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  align-items: flex-start;
  flex-direction: row;
}

.product-main-image {
  position: relative;
  margin-bottom: 1rem;

  img {
    width: 100%;
    object-fit: contain;
    max-height: 40rem;
  }
}

.product-gallery-item {
  position: relative;
  display: block;
  max-width: 25%;
  height: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;

  .max-col-6 & {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }

  img {
    max-width: none;
    border: none;
    width: 10rem;
    height: 10rem;
  }

  &:hover,
  &.active {
    img {
      border: 0.1rem solid $primary-color;
    }
  }
}

.product-gallery-vertical {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .product-image-gallery,
  .product-main-image {
    width: 100%;
  }

  .product-image-gallery {
    width: calc(100% + 10px);
  }
}

/* Important for image zoom in carousel */
.product-gallery-carousel.owl-carousel {
  z-index: initial;

  .owl-item:not(.active) {
    pointer-events: none;
  }
}

.product-gallery-image {
  margin-bottom: 0;
  padding-right: 1rem;
}

.product-gallery-separated {
  position: relative;
}

@include mq("lg") {
  .product-gallery-vertical {
    .row {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      flex-direction: row-reverse;
    }

    .btn-product-gallery {
      right: 2.5rem;
    }

    .product-image-gallery,
    .product-main-image {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .product-main-image {
      flex: 0 0 80%;
      max-width: 80%;
    }

    .product-image-gallery {
      width: auto;
      flex: 0 0 20%;
      max-width: 20%;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
    }

    .product-gallery-item {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 1rem;

      &:before,
      &:after {
        left: 0;
        right: 0;
      }
    }
  }
}
