<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container active">
      <a routerLink="/home" class="sf-with-ul">Home</a>
      <!-- End .megamenu -->
    </li>
    <li>
      <a href="category.html" class="sf-with-ul">Brands</a>

      <div class="megamenu megamenu-md">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="menu-col">
              <div class="row">
                <div class="col-md-6">
                  <div class="menu-title">Shop with sidebar</div>
                  <!-- End .menu-title -->
                  <ul>
                    <li><a href="category-list.html">Shop List</a></li>
                    <li>
                      <a href="category-2cols.html">Shop Grid 2 Columns</a>
                    </li>
                    <li>
                      <a href="category.html">Shop Grid 3 Columns</a>
                    </li>
                    <li>
                      <a href="category-4cols.html">Shop Grid 4 Columns</a>
                    </li>
                    <li>
                      <a href="category-market.html"
                        ><span
                          >Shop Market<span class="tip tip-new">New</span></span
                        ></a
                      >
                    </li>
                  </ul>

                  <div class="menu-title">Shop no sidebar</div>
                  <!-- End .menu-title -->
                  <ul>
                    <li>
                      <a href="category-boxed.html"
                        ><span
                          >Shop Boxed No Sidebar<span class="tip tip-hot"
                            >Hot</span
                          ></span
                        ></a
                      >
                    </li>
                    <li>
                      <a href="category-fullwidth.html"
                        >Shop Fullwidth No Sidebar</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- End .col-md-6 -->

                <div class="col-md-6">
                  <div class="menu-title">Product Category</div>
                  <!-- End .menu-title -->
                  <ul>
                    <li>
                      <a href="product-category-boxed.html"
                        >Product Category Boxed</a
                      >
                    </li>
                    <li>
                      <a href="product-category-fullwidth.html"
                        ><span
                          >Product Category Fullwidth<span class="tip tip-new"
                            >New</span
                          ></span
                        ></a
                      >
                    </li>
                  </ul>
                  <div class="menu-title">Shop Pages</div>
                  <!-- End .menu-title -->
                  <ul>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="dashboard.html">My Account</a></li>
                    <li><a href="#">Lookbook</a></li>
                  </ul>
                </div>
                <!-- End .col-md-6 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .menu-col -->
          </div>
          <!-- End .col-md-8 -->

          <div class="col-md-4">
            <div class="banner banner-overlay">
              <a href="category.html" class="banner banner-menu">
                <img src="assets/images/menu/banner-1.jpg" alt="Banner" />

                <div class="banner-content banner-content-top">
                  <div class="banner-title text-white">
                    Last <br />Chance<br /><span><strong>Sale</strong></span>
                  </div>
                  <!-- End .banner-title -->
                </div>
                <!-- End .banner-content -->
              </a>
            </div>
            <!-- End .banner banner-overlay -->
          </div>
          <!-- End .col-md-4 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .megamenu megamenu-md -->
    </li>
    <li>
      <a routerLink="/shop/best-seller" class="sf-with-ul">Best Sellers</a>
    </li>
    <li>
      <a routerLink="/shop/under999" class="sf-with-ul">Under 999</a>
    </li>
  </ul>
  <!-- End .menu -->
</nav>
