<div class="product product-11 text-center">
  <figure class="product-media">
    <a href="product">
      <img
        [src]="product.mainImage"
        [alt]="product.name"
        class="product-image"
      />
      <img
        [src]="product.mainImage"
        [alt]="product.name"
        class="product-image-hover"
      />
    </a>

    <div class="product-action-vertical">
      <a href="#" class="btn-product-icon btn-wishlist"
        ><span>add to wishlist</span></a
      >
    </div>
    <!-- End .product-action-vertical -->
  </figure>
  <!-- End .product-media -->

  <div class="product-body">
    <div class="product-cat">
      <a href="shop/subcategory">{{
        product.category ? product.category.name : ""
      }}</a>
    </div>
    <!-- End .product-cat -->
    <h3 class="product-title">
      <a href="product">{{ product.name }}</a>
    </h3>
    <!-- End .product-title -->
    <div class="product-price">
      $401,00
    </div>
    <!-- End .product-price -->
  </div>
  <!-- End .product-body -->
  <div class="product-action">
    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
  </div>
  <!-- End .product-action -->
</div>
<!-- End .product -->

<!-- <span class="old-price" *ngIf="product.oldPrice !== null"
        >Was {{ product.oldPrice | currency: "USD":"symbol":"1.0-0" }}</span
      > -->
