/* Category */
.toolbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2rem;
  @include clearfix();

  .select-custom {
    margin-bottom: 0;

    &::after {
      right: 0.9rem;
      font-size: 1rem;
    }

    .form-control {
      font-size: 1.3rem;
      padding-right: 2rem;
      max-width: 140px;
      min-width: 140px;
      background-color: #fff;
      border-color: #e4e4e4;
    }
  }

  label {
    font-weight: 400;
    color: $dark-text;
    font-size: 1.2rem;
    letter-spacing: -0.01em;
    margin: 0;
  }

  .form-control {
    color: $light-text;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.45rem 1rem;
    height: 30px;
    margin-bottom: 0;

    &:not(:focus) {
      border-color: #d7d7d7;
    }
  }

  select.form-control:not([size]):not([multiple]) {
    height: 30px;
  }
}

.toolbox-left,
.toolbox-right {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  flex-wrap: wrap;
}

.toolbox-center {
  margin-top: 1rem;
  flex: 0 1 auto;
}

.toolbox-right {
  margin-top: 1rem;
  flex-direction: column;
}

.toolbox-info {
  color: #ccc;

  span {
    color: $dark-text;
  }
}

.toolbox-sort {
  display: flex;
  align-items: center;

  label {
    margin-right: 1.6rem;
  }
}

.toolbox-layout {
  margin-top: 1rem;
}

.products {
  > .row > [class*="col-"] {
    display: flex;
    align-items: stretch;
    align-content: stretch;
  }

  .product {
    width: 100%;
  }
}

.product {
  overflow: hidden;
}

.carousel-equal-height {
  .owl-stage,
  .owl-item {
    display: flex;
    align-items: stretch;
  }

  .product {
    width: 100%;
  }
}

.owl-carousel {
  .entry {
    margin-bottom: 0;
  }
}

.sidebar-shop {
  .widget {
    color: $dark-text;
    margin: 0 0 2rem;
    border-bottom: 0.1rem solid #ebebeb;

    &:last-child {
      border-bottom: none;
    }
  }

  .widget-title {
    color: $dark-text;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.15;
    letter-spacing: -0.01em;
    margin-bottom: 0.7rem;
  }

  .custom-control {
    padding-left: 2.7rem;
    margin: 0;
  }

  .custom-control-label {
    font-weight: 400;
    color: $dark-text;
    cursor: pointer;

    &::before {
      border-radius: 0.2rem;
    }
  }
}

.filter-item {
  position: relative;
  margin-bottom: 0.3rem;
}

.filter-colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;

  a {
    position: relative;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    margin: 0 0.3rem 0.3rem;
    transition: box-shadow 0.35s ease;

    &:after {
      color: #fff;
      font-family: "molla";
      content: "\ec2d";
      font-size: 1rem;
      line-height: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.01s;
      margin-top: -0.4rem;
      margin-left: -0.5rem;
    }

    &.selected,
    &:hover,
    &:focus {
      box-shadow: 0 0 0 0.1rem #cccccc;
    }

    &.selected {
      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@include mq("sm") {
  .toolbox-right {
    flex-direction: row;
  }

  .toolbox-layout {
    margin-top: 0;
    margin-right: -0.5rem;
    margin-left: 1rem;
  }
}

@include mq("md") {
  .toolbox {
    flex-direction: row;
  }

  .toolbox-center {
    margin-top: 0;
  }

  .toolbox-right {
    margin-top: 0;
    justify-content: flex-end;
  }
}
