<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Default</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="product-details-top">
        <div class="row">
          <div class="col-md-6">
            <app-image-gallery [images]="galleryImages"></app-image-gallery>
          </div>
          <!-- End .col-md-6 -->

          <div class="col-md-6">
            <app-product-features
              [name]="product.name"
              [price]="price"
              [description]="shortDescription"
              [attributes]="attributes"
              [category]="product.category"
              [brand]="product.brand"
            ></app-product-features>
            <!-- End .product-details -->
          </div>
          <!-- End .col-md-6 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .product-details-top -->

      <app-product-detail [product]="product"></app-product-detail>
      <!-- End .product-details-tab -->

      <app-product-similar
        [products]="similarProducts$ | async"
      ></app-product-similar>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->

<!-- Sticky Bar -->
<!-- <app-product-sticky-bar></app-product-sticky-bar> -->
<!-- End .sticky-bar -->

<!-- Plugins JS File -->
<!-- <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.elevateZoom.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script> -->
<!-- Main JS File -->
<!-- <script src="assets/js/main.js"></script> -->
<!-- <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css"> -->
