<main class="main">
  <app-intro-slider></app-intro-slider>

  <app-brands-list></app-brands-list>

  <div class="mb-3 mb-lg-5"></div>
  <!-- End .mb-3 mb-lg-5 -->

  <app-banners></app-banners>

  <div class="mb-3"></div>
  <!-- End .mb-6 -->

  <app-product-tabs></app-product-tabs>

  <div class="mb-5"></div>
  <!-- End .mb-5 -->

  <app-deals-section></app-deals-section>

  <div class="mb-6"></div>
  <!-- End .mb-6 -->

  <app-top-selling-products></app-top-selling-products>

  <div class="container">
    <hr class="mt-1 mb-6" />
  </div>
  <!-- End .container -->

  <app-blog-section></app-blog-section>
</main>
<!-- End .main -->

<!-- Newsletter Modal -->
<app-newsletter-modal></app-newsletter-modal>
