<main class="main">
  <app-intro-slider [banners]="banners?.slider"></app-intro-slider>

  <app-brands-list></app-brands-list>

  <div class="mb-3 mb-lg-5"></div>
  <!-- End .mb-3 mb-lg-5 -->

  <app-banners [banners]="banners?.featured"></app-banners>

  <div class="mb-3"></div>
  <!-- End .mb-6 -->

  <app-product-tabs></app-product-tabs>

  <div class="mb-5"></div>
  <!-- End .mb-5 -->

  <app-deals-section [deals]="banners?.dealOfTheDay"></app-deals-section>

  <div class="mb-6"></div>
  <!-- End .mb-6 -->

  <app-top-selling-products></app-top-selling-products>

  <!-- <div class="container">
    <hr class="mt-1 mb-6" />
  </div> -->
  <!-- End .container -->

  <!-- <app-blog-section></app-blog-section> -->
</main>
<!-- End .main -->

<!-- Newsletter Modal -->
<app-newsletter-modal></app-newsletter-modal>
