@import "../../../assets/sass/mixins/breakpoints";
@import "../../../assets/sass/mixins/lazy";

/*  Index.html - Home page */
.intro-section {
  margin-top: -1px;
}

.intro-banners {
  .banner {
    margin-bottom: 2rem;
  }
}

.text-darkwhite {
  color: #ebebeb;
}

.banner-link-anim {
  background-color: transparent;
}

.slider-container-1,
.intro-slider-1 .slide-image {
  &:before {
    @include aspect-ratio(780, 441);
  }

  &:before {
    @include mq("xs", "max") {
      @include aspect-ratio(480, 400);
    }
  }
}

.slider-container-ratio .intro-slider,
.slide-image > picture,
.slide-image > img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

.slide-image img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
}

.slider-loader {
  color: #333;
  &::after {
    content: "\f311";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    font-family: "molla";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4rem;
    transform-origin: center center;
    animation: rotating 3s linear infinite;
    z-index: 20;
  }
}

.owl-loaded + .slider-loader {
  display: none;
}

button:focus {
  outline: none;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title-lg {
  letter-spacing: -0.025em;
}

.mt-v3 {
  margin-top: -3rem;
}

.categories.container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    height: 0.1rem;
    top: 0;
    background-color: #ebebeb;
  }
}

.icon-box-card {
  background-color: transparent;
  padding: 2rem;
}

.icon-box-icon {
  color: #333;
  font-size: 3.4rem;
}

.cta-display {
  .cta-title {
    font-weight: 600;
    font-size: 2.6rem;
    letter-spacing: -0.01em;
  }

  .cta-desc {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}

.cta-display-content {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.footer .widget-title {
  font-weight: 600;
}

.widget-about p {
  max-width: 260px;
}

.cross-txt {
  position: absolute;
  left: -1px;
  right: -1px;
  transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.cross-txt:before,
.cross-txt:after {
  content: "";
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  background: #fff;
}
.cross-txt:before {
  margin-right: 2.5rem;
}
.cross-txt:after {
  margin-left: 2.5rem;
}

// .mfp-ready.mfp-bg {
//   opacity: 0.6;
// }

// .mfp-newsletter.mfp-bg {
//   background: #222;
//   opacity: 0.6;
// }

// .mfp-wrap .mfp-content {
//   transition: all 0.35s;
//   opacity: 0;
// }

// .mfp-wrap.mfp-ready .mfp-content {
//   opacity: 1;
// }

@include mq("lg") {
  .cta-display {
    .cta-title {
      font-size: 3rem;
    }
  }
}

@include mq("sm", "max") {
  .cta-display {
    .cta-desc {
      margin-bottom: 2rem;
    }

    .btn {
      padding-top: 0.85rem;
      padding-bottom: 0.85rem;
    }
  }
}

// @media screen and (max-width: 900px) {
//   .fullscreen-container {
//     margin-left: -0.6rem;
//     margin-right: -0.6rem;
//   }
// }

@media screen and (min-width: 768px) {
  .banner-display .banner-title {
    font-size: 1.8rem;
  }
}

// @media screen and (max-width: 439px) {
//   .quickView-content {
//     .details-action-wrapper {
//       flex-direction: column;
//     }
//     .details-action-wrapper .btn-product + .btn-product {
//       border: none;
//       margin-top: 1rem;
//     }
//   }
// }

@media screen and (min-width: 992px) {
  .banners-sm {
    .banner-link-anim {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
