/* Shopping Cart */
@import "../../../../../assets/sass/mixins/breakpoints";

.cart {
  @include mq("lg") {
    .col-lg-3 {
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      max-width: 30%;
    }

    .col-lg-9 {
      -ms-flex: 0 70%;
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
}

.table {
  .total-col {
    color: $primary-color;
    font-weight: 400;
    font-size: 1.6rem;
  }
}

.input-spinner {
  position: relative;

  .input-group-prepend,
  .input-group-append {
    position: absolute;
    top: 0;
  }

  .input-group-prepend {
    left: 0;
  }

  .input-group-append {
    right: 0;
  }

  .form-control {
    padding: 0.85rem 2.6rem;
    height: auto;
    border-color: #dadada;
    background-color: #fff;
    margin: 0;

    &[disabled] {
      background-color: #f9f9f9;
    }
  }
}

.btn.btn-spinner {
  min-width: 0;
  color: #333333;
  padding: 1.25rem 0.4rem;
  font-size: 1rem;
  border: none;
  background: none;

  i {
    margin: 0 !important;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.cart-bottom {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;

  .btn {
    margin-left: auto;
    min-width: 152px;
  }
}

.cart-discount {
  flex: 0 0 50%;
  max-width: 326px;

  .form-control {
    margin-right: 1.1rem;
  }

  .btn {
    min-width: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.summary.summary-cart {
  margin-bottom: 3rem;

  .summary-title {
    margin-bottom: 0;
  }
}

.table.table-summary {
  .summary-shipping {
    color: $dark-text;
    font-weight: 400;
    font-size: 1.6rem;

    td {
      padding-top: 2rem;
      padding-bottom: 1.3rem;
      height: auto;
      border-bottom: none;
    }
  }

  .summary-shipping-row {
    color: $dark-text;

    label {
      color: inherit;
    }

    td {
      height: auto;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: none;
    }
  }

  .custom-control {
    margin: 0;
  }

  .summary-shipping-estimate {
    color: $dark-text;
    font-weight: 400;
    font-size: 1.6rem;

    td {
      height: auto;
      padding-top: 1.4rem;
      padding-bottom: 2.3rem;
    }

    a {
      margin-top: 0.6rem;
      display: inline-block;
      font-weight: 300;
      color: $light-text;
      font-size: 1.4rem;
      border-bottom: 0.1rem solid $light-text;

      &:hover,
      &:focus {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }
  }
}

.summary-cart {
  .table.table-summary thead th:last-child,
  .table.table-summary tbody td:last-child {
    min-width: 0;
  }
}

/* Wishlist */
.table {
  td {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .price-col {
    width: 180px;
    color: $dark-text;
    font-weight: 400;
    font-size: 1.6rem;
  }

  .stock-col {
    width: 160px;
    font-weight: 400;
    font-size: 1.6rem;
  }

  .action-col {
    width: 202px;

    .btn {
      height: 40px;
      padding-top: 0.55rem;
      padding-bottom: 0.55rem;
      font-size: 1.3rem;
      text-transform: uppercase;

      i {
        font-size: 1.8rem;
        margin-right: 1rem !important;
        margin-left: 0 !important;
      }

      &.disabled {
        opacity: 1 !important;
        color: #cccccc !important;
        cursor: default;
        pointer-events: none;
        background-color: #fafafa !important;
        border-color: #ebebeb !important;
      }
    }
  }

  .remove-col {
    padding-right: 0;
    padding-left: 0;
    width: 38px;
    text-align: right;

    .btn-remove {
      margin-right: -0.7rem;
    }
  }
}

.action-col {
  .dropdown-menu {
    color: #666;
    border-radius: 0;
    width: 100%;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .dropdown-item {
    padding: 0.5rem 1.5rem;
    transition: background 0.35s ease, color 0.1s ease;
  }

  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #fff;
    background-color: $primary-color;
  }
}

@include mq("sm", "max") {
  .cart-bottom {
    flex-direction: column;
    margin-bottom: 4rem;

    .cart-discount .btn {
      margin-top: 0;
    }

    .btn {
      margin-left: 0 !important;
      margin-top: 1rem;
    }
  }
}
