<div class="intro-slider-container">
  <owl-carousel-o class="" [options]="carouselOptions">
    <ng-template carouselSlide *ngFor="let banner of banners">
      <div class="intro-slide">
        <a [href]="banner.href">
          <img
            [src]="banner.image"
            [alt]="banner.title"
            [title]="banner.title"
          />
        </a>
      </div>
      <!-- End .intro-slide -->
    </ng-template>
  </owl-carousel-o>

  <!-- <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
      
  </div>End .owl-carousel owl-simple -->

  <!-- <span class="slider-loader text-white"></span> -->
  <!-- End .slider-loader -->
</div>
<!-- End .intro-slider-container -->
