<main class="main">
  <!-- End .container -->
  <!-- </div> -->
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <!-- <form action="#"> -->
        <div class="row">
          <app-billing-form class="col-lg-8"></app-billing-form>
          <!-- End .col-lg-9 -->
          <app-order-details
            class="col-lg-4"
            [cart]="cart$ | async"
          ></app-order-details>
        </div>
        <!-- End .row -->
        <!-- </form> -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .checkout -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
