<main class="main">
  <!-- End .container -->
  <!-- </div> -->
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <!-- <form action="#"> -->
        <div class="row">
          <app-billing-form class="col-lg-8"></app-billing-form>
          <!-- End .col-lg-9 -->
          <app-order-details
            class="col-lg-4"
            [cart]="cart$ | async"
          ></app-order-details>
        </div>
        <!-- End .row -->
        <!-- </form> -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .checkout -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->

<div
  class="modal fade"
  id="thankYouModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="thankYouModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="header"><span>Your order has been placed</span></div>
        <div class="btn-wrap">
          <a routerLink="/home" class="btn btn-outline-primary">
            <span>Continue Shopping</span>
          </a>
        </div>
        <div class="footer">
          <span>We will contact you shortly for order confirmation</span>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  data-toggle="modal"
  data-target="#thankYouModal"
  data-backdrop="false"
  [hidden]="true"
  #thankYouModal
></button>
