<div class="blog-posts">
  <div class="container">
    <h2 class="title text-center">From Our Blog</h2>
    <!-- End .title-lg text-center -->

    <owl-carousel-o class="carousel-with-shadow" [options]="customOptions">
      <ng-template carouselSlide>
        <article class="entry entry-display">
          <figure class="entry-media">
            <a href="single.html">
              <img
                src="assets/images/demos/demo-2/blog/post-1.jpg"
                alt="image desc"
              />
            </a>
          </figure>
          <!-- End .entry-media -->

          <div class="entry-body text-center">
            <div class="entry-meta">
              <a href="#">Nov 22, 2018</a>, 0 Comments
            </div>
            <!-- End .entry-meta -->

            <h3 class="entry-title">
              <a href="single.html">Sed adipiscing ornare.</a>
            </h3>
            <!-- End .entry-title -->

            <div class="entry-content">
              <a href="single.html" class="read-more">Continue Reading</a>
            </div>
            <!-- End .entry-content -->
          </div>
          <!-- End .entry-body -->
        </article></ng-template
      >
      <!-- End .entry -->
      <ng-template carouselSlide>
        <article class="entry entry-display">
          <figure class="entry-media">
            <a href="single.html">
              <img
                src="assets/images/demos/demo-2/blog/post-2.jpg"
                alt="image desc"
              />
            </a>
          </figure>
          <!-- End .entry-media -->

          <div class="entry-body text-center">
            <div class="entry-meta">
              <a href="#">Dec 12, 2018</a>, 0 Comments
            </div>
            <!-- End .entry-meta -->

            <h3 class="entry-title">
              <a href="single.html">Fusce lacinia arcuet nulla.</a>
            </h3>
            <!-- End .entry-title -->

            <div class="entry-content">
              <a href="single.html" class="read-more">Continue Reading</a>
            </div>
            <!-- End .entry-content -->
          </div>
          <!-- End .entry-body -->
        </article></ng-template
      >
      <!-- End .entry -->
      <ng-template carouselSlide>
        <article class="entry entry-display">
          <figure class="entry-media">
            <a href="single.html">
              <img
                src="assets/images/demos/demo-2/blog/post-3.jpg"
                alt="image desc"
              />
            </a>
          </figure>
          <!-- End .entry-media -->

          <div class="entry-body text-center">
            <div class="entry-meta">
              <a href="#">Dec 19, 2018</a>, 2 Comments
            </div>
            <!-- End .entry-meta -->

            <h3 class="entry-title">
              <a href="single.html">Quisque volutpat mattis eros.</a>
            </h3>
            <!-- End .entry-title -->

            <div class="entry-content">
              <a href="single.html" class="read-more">Continue Reading</a>
            </div>
            <!-- End .entry-content -->
          </div>
          <!-- End .entry-body -->
        </article>
        <!-- End .entry -->
      </ng-template>
    </owl-carousel-o>

    <div class="more-container text-center mt-2">
      <a href="blog.html" class="btn btn-outline-darker btn-more"
        ><span>View more articles</span><i class="icon-long-arrow-right"></i
      ></a>
    </div>
    <!-- End .more-container -->
  </div>
  <!-- End .container -->
</div>
<!-- End .blog-posts -->
