@import "../../../../../assets/sass/mixins/breakpoints";

.banner-content {
  .banner-title {
    padding: 1rem;
    color: #fff;
  }

  .banner-subtitle {
    color: #fff;
    font-size: 2rem;
  }

  .btn.banner-link {
    color: #333;
    border-color: #333;
    font-weight: 700;
  }
}

.deal-two {
  display: none;
}

@include mq("sm") {
  .deal-two {
    display: block;
  }
}
