<div class="header-top">
  <div class="container">
    <div class="header-left">
      <p>Special collection already available.</p>
      <a href="#">&nbsp;Read more ...</a>
    </div>
    <!-- End .header-left -->

    <div class="header-right">
      <ul class="top-menu">
        <li>
          <a href="#">Links</a>
          <ul>
            <li>
              <a href="login">Sign in / Sign up</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- End .top-menu -->
    </div>
    <!-- End .header-right -->
  </div>
  <!-- End .container -->
</div>
