<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <h2 class="title text-center mb-3">Shipping Information</h2>
      <!-- End .title -->
      <div class="accordion accordion-rounded" id="accordion-1">
        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading-1">
            <h2 class="card-title">
              <a
                role="button"
                data-toggle="collapse"
                href="#collapse-1"
                aria-expanded="true"
                aria-controls="collapse-1"
              >
                What is the delivery time?
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse-1"
            class="collapse show"
            aria-labelledby="heading-1"
            data-parent="#accordion-1"
          >
            <div class="card-body">
              Our average delivery time is 7 to 10 business days.
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->

        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading-2">
            <h2 class="card-title">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse-2"
                aria-expanded="false"
                aria-controls="collapse-2"
              >
                What are the delivery charges?
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse-2"
            class="collapse"
            aria-labelledby="heading-2"
            data-parent="#accordion-1"
          >
            <div class="card-body">
              Delivery charges are Rs. 200/- for standard shipping.
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->

        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading-3">
            <h2 class="card-title">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse-3"
                aria-expanded="false"
                aria-controls="collapse-3"
              >
                How reliable is your delivery service method?
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse-3"
            class="collapse"
            aria-labelledby="heading-3"
            data-parent="#accordion-1"
          >
            <div class="card-body">
              We deliver through different courier companies to ship all orders
              safely at your doorstep.
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->

        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading-4">
            <h2 class="card-title">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse-4"
                aria-expanded="false"
                aria-controls="collapse-4"
              >
                In which locations you deliver the orders?
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse-4"
            class="collapse"
            aria-labelledby="heading-4"
            data-parent="#accordion-1"
          >
            <div class="card-body">
              Right now, we are delivering orders in Lahore. We will expand our
              operations to other cities of Pakistan soon.
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->
      </div>
      <!-- End .accordion -->

      <h2 class="title text-center mb-3">Orders and Returns</h2>
      <!-- End .title -->
      <div class="accordion accordion-rounded" id="accordion-2">
        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading2-1">
            <h2 class="card-title">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse2-1"
                aria-expanded="false"
                aria-controls="collapse2-1"
              >
                Can I return or replace a product?
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse2-1"
            class="collapse"
            aria-labelledby="heading2-1"
            data-parent="#accordion-2"
          >
            <div class="card-body">
              Yes. You can return or replace a product.
              <a routerLink="/terms-and-conditions">“Conditions for Return”</a>
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->

        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading2-2">
            <h2 class="card-title">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse2-2"
                aria-expanded="false"
                aria-controls="collapse2-2"
              >
                I haven’t received my order
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse2-2"
            class="collapse"
            aria-labelledby="heading2-2"
            data-parent="#accordion-2"
          >
            <div class="card-body">
              We deliver within 7-10 working days. If it has been more than 10
              working days since you placed your order, please
              <a routerLink="/contact-us">contact us</a>.
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->
      </div>
      <!-- End .accordion -->

      <h2 class="title text-center mb-3">Payments</h2>
      <!-- End .title -->
      <div class="accordion accordion-rounded" id="accordion-3">
        <div class="card card-box card-sm bg-light">
          <div class="card-header" id="heading3-1">
            <h2 class="card-title">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse3-1"
                aria-expanded="false"
                aria-controls="collapse3-1"
              >
                What payment types can I use?
              </a>
            </h2>
          </div>
          <!-- End .card-header -->
          <div
            id="collapse3-1"
            class="collapse"
            aria-labelledby="heading3-1"
            data-parent="#accordion-3"
          >
            <div class="card-body">
              Currently we offer only Cash on Delivery. In future we will be
              introducing other payment options
            </div>
            <!-- End .card-body -->
          </div>
          <!-- End .collapse -->
        </div>
        <!-- End .card -->
      </div>
      <!-- End .accordion -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->

  <div
    class="cta cta-display bg-image pt-4 pb-4"
    style="background-image: url(assets/images/backgrounds/cta/bg-7.jpg)"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9 col-xl-7">
          <div
            class="row no-gutters flex-column flex-sm-row align-items-sm-center"
          >
            <div class="col">
              <h3 class="cta-title text-white">If You Have More Questions</h3>
              <!-- End .cta-title -->
              <p class="cta-desc text-white">We offer 24/7 customer service</p>
              <!-- End .cta-desc -->
            </div>
            <!-- End .col -->

            <div class="col-auto">
              <a routerLink="/contact-us" class="btn btn-outline-white"
                ><span>CONTACT US</span><i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .col-auto -->
          </div>
          <!-- End .row no-gutters -->
        </div>
        <!-- End .col-md-10 col-lg-9 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .cta -->
</main>
<!-- End .main -->
