<div class="sticky-bar">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <figure class="product-media">
          <a href="product.html">
            <img
              src="assets/images/products/sticky/product-1.jpg"
              alt="Product image"
            />
          </a>
        </figure>
        <!-- End .product-media -->
        <h4 class="product-title">
          <a href="product.html">Dark yellow lace cut out swing dress</a>
        </h4>
        <!-- End .product-title -->
      </div>
      <!-- End .col-6 -->

      <div class="col-6 justify-content-end">
        <div class="product-price">
          $84.00
        </div>
        <!-- End .product-price -->
        <div class="product-details-quantity">
          <input
            type="number"
            id="sticky-cart-qty"
            class="form-control"
            value="1"
            min="1"
            max="10"
            step="1"
            data-decimals="0"
            required
          />
        </div>
        <!-- End .product-details-quantity -->

        <div class="product-details-action">
          <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
          <a href="#" class="btn-product btn-wishlist" title="Wishlist"
            ><span>Add to Wishlist</span></a
          >
        </div>
        <!-- End .product-details-action -->
      </div>
      <!-- End .col-6 -->
    </div>
    <!-- End .row -->
  </div>
  <!-- End .container -->
</div>
