<div class="dropdown category-dropdown">
  <a
    href="#"
    class="dropdown-toggle"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    data-display="static"
    title="Browse Categories"
  >
    Browse Categories
  </a>

  <div class="dropdown-menu">
    <nav class="side-nav">
      <ul class="menu-vertical sf-arrows">
        <li class="item-lead"><a href="#">Daily offers</a></li>
        <li class="item-lead"><a href="#">Gift Ideas</a></li>
        <li><a href="#">Beds</a></li>
        <li><a href="#">Lighting</a></li>
        <li><a href="#">Sofas & Sleeper sofas</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Armchairs & Chaises</a></li>
        <li><a href="#">Decoration </a></li>
        <li><a href="#">Kitchen Cabinets</a></li>
        <li><a href="#">Coffee & Tables</a></li>
        <li><a href="#">Outdoor Furniture </a></li>
      </ul>
      <!-- End .menu-vertical -->
    </nav>
    <!-- End .side-nav -->
  </div>
  <!-- End .dropdown-menu -->
</div>