<div class="dropdown category-dropdown">
  <a
    href="#"
    class="dropdown-toggle"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    data-display="static"
    title="Browse Categories"
  >
    Browse Categories
  </a>

  <div class="dropdown-menu">
    <nav class="side-nav">
      <ul class="menu-vertical sf-arrows">
        <!-- <li class="item-lead"><a href="shop/category">Daily offers</a></li>
        <li class="item-lead"><a href="shop/category">Gift Ideas</a></li> -->
        <li *ngFor="let category of categories">
          <a [routerLink]="['/shop/category', category.slug]">{{
            category.name
          }}</a>
          <ul
            *ngIf="category.childrens && category.childrens.length > 0"
            class="menu-vertical sf-arrows"
          >
            <li *ngFor="let subcategory of category.childrens">
              <a
                [routerLink]="[
                  '/shop/category',
                  category.slug,
                  subcategory.slug
                ]"
                >{{ subcategory.name }}</a
              >
              <ul
                *ngIf="
                  subcategory.childrens && subcategory.childrens.length > 0
                "
                class="menu-vertical sf-arrows"
              >
                <li *ngFor="let subsubcategory of subcategory.childrens">
                  <a
                    [routerLink]="[
                      '/shop/category',
                      category.slug,
                      subcategory.slug
                    ]"
                    [queryParams]="{ part: subsubcategory.slug }"
                    >{{ subsubcategory.name }}</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- End .menu-vertical -->
    </nav>
    <!-- End .side-nav -->
  </div>
  <!-- End .dropdown-menu -->
</div>
