@import "../../../../../assets/sass/mixins/breakpoints";

.product-details {
  margin-bottom: 2rem;

  .product-title {
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: -0.025em;
    padding-right: 1rem;
    line-height: 2rem;
    margin-top: 2rem;
  }

  .product-brand {
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .ratings-container {
    margin-bottom: 1.3rem;
  }

  .product-price {
    font-size: 2.4rem;
    display: inline;
  }

  .price {
    margin-bottom: 1rem;
  }

  .discount-price {
    font-weight: 500;
  }

  .product-stock {
    font-size: 1.8rem;
    font-weight: 400;
    color: $primary-color;
    margin-bottom: 1rem;
  }

  .new-price {
    margin-right: 1rem;
  }

  .product-discount {
    font-weight: 600;
    color: #ef837b;
  }

  .product-campaign {
    font-size: 1.6rem;
    font-weight: 500;
    color: #a6c76c;
    border: 0.2rem solid #a6c76c;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-transform: uppercase;
  }

  .product-content {
    margin-bottom: 1.6rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .product-countdown {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    max-width: 260px;
    margin-left: -5px;
    margin-bottom: 2rem;

    .countdown-section {
      background-color: #fafafa;
    }
  }

  .product-nav-dots a,
  .product-nav-dots span {
    width: 2rem;
    height: 2rem;
  }

  .product-cat {
    font-weight: 400;
    font-size: 1.4rem;

    span {
      margin-right: 0.7rem;
    }

    a {
      color: #666;
      box-shadow: none;
      transition: all 0.35s ease;

      &:hover,
      &:focus {
        color: $primary-color;
        box-shadow: 0 1px 0 $primary-color;
      }
    }
  }

  .product-size {
    flex-flow: row wrap;
    padding-top: 0;
    margin-bottom: 0;

    a {
      color: #666;
      width: 4rem;
      height: 4rem;
      font-weight: 400;
      font-size: 1.4rem;
      letter-spacing: -0.01em;
      border: 0.1rem solid #d7d7d7;
      background-color: transparent;
      border-radius: 0;
      margin-right: 1rem;

      &.active,
      &:hover,
      &:focus {
        color: $primary-color;
        border-color: $primary-color;
        background-color: transparent;
      }

      &.disabled {
        color: #dadada;
        border-color: #ebebeb;
        background-color: transparent;
      }
    }
  }
}

.details-filter-row {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 2rem;

  .form-control {
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    border-color: #d7d7d7;
    min-width: 131px;
  }

  .select-custom {
    margin-bottom: 0;
    margin-right: 3.9rem;

    .form-control {
      padding-right: 3rem;
    }

    &::after {
      font-size: 1rem;
      right: 0.9rem;
    }
  }

  label {
    display: inline-block;
    width: 67px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .product-nav {
    margin-bottom: 0;
  }

  .product-nav-thumbs {
    padding-top: 0;
  }
}

.product-details-quantity {
  display: flex;
  justify-content: space-between;
  width: 12rem;

  button {
    background-color: #fff;
    border-color: #d7d7d7;
    color: #777;
    border: 1px solid #ebebeb;
    transition: all 0.3s;

    &:hover {
      border-color: $primary-color;
    }
  }

  .form-control {
    text-align: center;
    margin-bottom: 0;
    min-width: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    padding-left: 1.2rem;
  }
}

.product-details-action {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 3rem;

  .btn-cart {
    padding: 1rem 1.5rem;
    max-width: 198px;
    color: $primary-color;
    border: 0.1rem solid $primary-color;
    cursor: pointer;

    span {
      font-size: 1.4rem;
      color: inherit;
      text-transform: uppercase;
      box-shadow: none;
      transition: box-shadow 0.35s ease, color 0s ease;
    }

    &:before {
      margin-right: 0.4rem;
    }

    &:hover,
    &:focus {
      color: #fff;
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }
}

.details-action-wrapper {
  display: flex;
  align-items: center;
  margin-left: 4rem;

  .btn-product {
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    align-self: stretch;
    line-height: 1.4;

    &:before {
      margin-right: 1rem;
    }

    &.btn-wishlist:before {
      margin-top: -0.2rem;
    }

    span {
      font-size: 1.4rem;
    }

    & + .btn-product {
      padding-left: 1.3rem;
      margin-left: 1.6rem;
    }
  }
}

.product-details-footer {
  color: #777;
  display: flex;
  font-weight: 400;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1.7rem;
  border-top: 0.1rem solid #ebebeb;
  padding-bottom: 1.7rem;

  .social-icons {
    margin-left: auto;
  }

  .social-icon {
    margin-bottom: 0;
  }
}

@include mq("md", "max") {
  .product-desc-row {
    min-height: 380px;
  }

  .product-desc-content h2,
  .product-details .product-title {
    font-size: 2.2rem;
  }

  .product-gallery-separated {
    margin-bottom: 3rem;
  }
}

@include mq("1700px") {
  .container-fluid {
    .product-details-action .btn-cart {
      min-width: 240px;
    }

    .details-filter-row .form-control {
      min-width: 171px;
    }
  }
}

@media screen and (max-width: 580px) {
  .product-details-action {
    flex-direction: column;
    align-items: flex-start;
  }

  .details-action-wrapper {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .product-details-footer {
    flex-direction: column;
    align-items: flex-start;

    .social-icons {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .review {
    .row {
      flex-direction: column;
    }
  }

  .details-filter-row .select-custom {
    margin-right: 1.5rem;
  }

  .product-details-action .btn-cart,
  .product-details-centered .product-details-action .btn-cart {
    min-width: 198px;
  }

  .product-details-sidebar .details-action-col .btn-product {
    min-width: 168px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-details-action {
    flex-direction: column;
    align-items: flex-start;
  }

  .details-action-wrapper {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .product-details-action .btn-cart {
    min-width: 198px;
  }

  .product-details-tab {
    .nav.nav-pills .nav-item {
      & + .nav-item {
        margin-left: 1rem;
      }

      .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .details-action-wrapper {
    margin-left: 1rem;
  }

  .product-details-sidebar .product-details-quantity {
    max-width: 91px;
  }
}

.error {
  color: red;
}

// Add to cart modal

.modal-dialog {
  justify-content: center;

  .modal-content {
    display: flex;
    align-items: center;
    width: auto;
    padding: 3rem 0;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      font-size: 2.5rem;
    }

    .modal-body {
      padding: 1rem 3rem;
      text-align: center;

      .cart-modal-head {
        margin-bottom: 2rem;

        .headline {
          color: $secondary-color;
          font-size: 1.7rem;
        }

        .product-name {
          font-weight: 500;
          color: $dark-text;
        }
      }

      img {
        width: 30rem;
      }

      .cart-modal-price {
        margin-top: 2rem;
        font-size: 1.4rem;

        span {
          color: $primary-color;
          font-size: 1.8rem;
        }
      }
    }

    .btn-wrap {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;

      a {
        width: 83%;
      }
    }

    .btn-link {
      font-size: 1.3rem;
      text-decoration: underline;
      color: $secondary-color-dark;
      border: none;

      &:hover {
        border: none;
      }
    }
  }
}
