<div
  class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block"
>
  <a class="search-toggle" role="button"><i class="icon-search"></i></a>
  <form>
    <div class="header-search-wrapper search-wrapper-wide">
      <label for="q" class="sr-only">Search</label>
      <input
        type="text"
        class="form-control"
        name="q"
        id="q"
        placeholder="Search product ..."
        required
        (change)="onChange($event)"
        (keydown)="onKeyDown($event)"
      />
      <button class="btn btn-primary" (click)="onSubmit($event)">
        <i class="icon-search"></i>
      </button>
    </div>
    <!-- End .header-search-wrapper -->
  </form>
</div>
