<aside>
  <div class="summary">
    <h3 class="summary-title">Your Order</h3>
    <!-- End .summary-title -->

    <table class="table table-summary">
      <thead>
        <tr>
          <th>Product</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of cart.items">
          <td>
            <a>{{ item.variationName }}</a>
          </td>
          <td>{{ getPrice(item) | currency: "PKR":"symbol":"1.2-2" }}</td>
        </tr>

        <tr class="summary-subtotal">
          <td>Subtotal:</td>
          <td>{{ cart.total | currency: "PKR":"symbol":"1.2-2" }}</td>
        </tr>
        <!-- End .summary-subtotal -->
        <tr>
          <td>Shipping:</td>
          <td>
            {{ shippingCharges | currency: "PKR":"symbol":"1.2-2" }}
          </td>
        </tr>
        <tr class="summary-total">
          <td>Total:</td>
          <td>
            {{
              shippingCharges + cart.total | currency: "PKR":"symbol":"1.2-2"
            }}
          </td>
        </tr>
        <!-- End .summary-total -->
      </tbody>
    </table>
    <!-- End .table table-summary -->

    <div class="accordion-summary" id="accordion-payment">
      <div class="card">
        <div class="card-header" id="heading-3">
          <h2 class="card-title">
            <a
              role="button"
              data-toggle="collapse"
              href="#collapse-3"
              aria-expanded="false"
              aria-controls="collapse-3"
            >
              Cash on delivery
            </a>
          </h2>
        </div>
        <!-- End .card-header -->
        <!-- <div
          id="collapse-3"
          class="collapse"
          aria-labelledby="heading-3"
          data-parent="#accordion-payment"
        >
          <div class="card-body">
            Quisque volutpat mattis eros. Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
            eros.
          </div> -->
        <!-- End .card-body -->
        <!-- </div> -->
        <!-- End .collapse -->
      </div>
      <!-- End .card -->
    </div>
    <!-- End .accordion -->

    <button
      type="submit"
      [disabled]="cart.items.length || (formStatus | async) !== 'VALID'"
      class="btn btn-outline-primary-2 btn-order btn-block"
      (click)="placeOrder()"
    >
      <span class="btn-text">Place Order</span>
      <span class="btn-hover-text">Place Order</span>
    </button>
  </div>
  <!-- End .summary -->
</aside>
<!-- End .col-lg-3 -->
