<footer class="footer footer-2">
  <div class="icon-boxes-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rotate-left"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Free Returns</h3>
              <!-- End .icon-box-title -->
              <p>within 30 days</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-12 col-lg-6">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-life-ring"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">We Support</h3>
              <!-- End .icon-box-title -->
              <p>24/7 amazing services</p>
            </div>
            <!-- End .icon-box-content -->
          </div>
          <!-- End .icon-box -->
        </div>
        <!-- End .col-sm-6 col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .icon-boxes-container -->

  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="widget widget-about">
            <img
              src="assets/images/logo.png"
              class="footer-logo"
              alt="Footer Logo"
              width="105"
              height="25"
            />
            <p>
              Praesent dapibus, neque id cursus ucibus, tortor neque egestas
              augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam
              dui mi, tincidunt quis, accumsan porttitor, facilisis luctus,
              metus.
            </p>

            <div class="widget-about-info">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <span class="widget-about-title"
                    >Got Question? Call us 24/7</span
                  >
                  <a href="tel:123456789">+0123 456 789</a>
                </div>
                <!-- End .col-sm-6 -->
                <div class="col-sm-6 col-md-8">
                  <span class="widget-about-title">Payment Method</span>
                  <figure class="footer-payments">
                    <img
                      src="assets/images/payments.png"
                      alt="Payment methods"
                      width="272"
                      height="20"
                    />
                  </figure>
                  <!-- End .footer-payments -->
                </div>
                <!-- End .col-sm-6 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .widget-about-info -->
          </div>
          <!-- End .widget about-widget -->
        </div>
        <!-- End .col-sm-12 col-lg-3 -->

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">Information</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="about-us">About Eboves</a></li>
              <li><a href="faqs">FAQ</a></li>
              <li><a href="contact-us">Contact us</a></li>
              <li><a href="login">Log in</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-4 col-lg-3 -->

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">Customer Service</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="#">Shipping & Returns</a></li>
              <li><a href="terms-and-conditions">Terms and conditions</a></li>
              <li><a href="privacy-policy">Privacy Policy</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-4 col-lg-3 -->

        <div class="col-sm-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title">My Account</h4>
            <!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="login">Sign In</a></li>
              <li><a href="cart">View Cart</a></li>
              <li><a href="wishlist">My Wishlist</a></li>
              <li><a href="track-order">Track My Order</a></li>
            </ul>
            <!-- End .widget-list -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-sm-64 col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-middle -->

  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copyright">
        Copyright © 2020 Eboves. All Rights Reserved.
      </p>
      <!-- End .footer-copyright -->
      <ul class="footer-menu">
        <li><a href="terms-and-conditions">Terms Of Use</a></li>
        <li><a href="privacy-policy">Privacy Policy</a></li>
      </ul>
      <!-- End .footer-menu -->

      <div class="social-icons social-icons-color">
        <span class="social-label">Social Media</span>
        <a
          href="https://www.facebook.com/ebovesofficial/"
          class="social-icon social-facebook"
          title="Facebook"
          target="_blank"
          ><i class="icon-facebook-f"></i
        ></a>
        <a
          href="https://www.instagram.com/ebovesofficial/"
          class="social-icon social-instagram"
          title="Instagram"
          target="_blank"
          ><i class="icon-instagram"></i
        ></a>
      </div>
      <!-- End .soial-icons -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-bottom -->
</footer>
<!-- End .footer -->
