<div class="product-desc-content">
  <h3>Delivery & returns</h3>
  <p>
    If you are not satisfied with the purchase of a product, you may return or
    replace it for free within 10 days from delivery date. For full details of
    the delivery options we offer, please view our
    <a routerLink="/terms-and-conditions">Delivery information</a><br />
    We hope you’ll love every purchase, but if you ever need to return an item
    you can do so within 10 days of receipt. For full details of how to make a
    return, please view our
    <a routerLink="/terms-and-conditions">Returns information</a>
  </p>
</div>
