/* Header */

// $primary-color: #a6c76c;
// $secondary-color: #92b25a;
// $dark-text: #333333;

:host::ng-deep .header {
  width: 100%;
  background-color: #fff;
}

:host::ng-deep .wishlist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $body-text;
  font-size: 2.6rem;
  line-height: 1;
  margin-left: 2.4rem;

  i {
    display: inline-block;
    margin-top: -2px;
  }

  .wishlist-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin-left: 0.7rem;
    margin-top: 0.1rem;
    color: #fff;
    background-color: $primary-color;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

:host::ng-deep .disabled-hidden {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0 !important;
  overflow: hidden;
}

:host::ng-deep .header-intro-clearance {
  div.icon {
    position: relative;
    height: 3.2rem;
  }
}
