/* Header 2 */

:host::ng-deep a {
  font-family: "Poppins";
}

:host::ng-deep p {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Poppins";
  letter-spacing: 0;
  color: #777;
}
.header-2 {
  background-color: #fff;
}
