::host:ng-deep .menu-brands {
  &.menu-col {
    padding-top: 2rem;
    margin-top: 0 !important;
    border-top: 0.1rem solid #ebebeb;
  }

  .brand {
    display: flex !important;
  }

  .col,
  [class*="col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
