<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Electronics</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-4-5col">
          <div
            class="category-banners-slider owl-carousel owl-simple owl-nav-inside"
            data-toggle="owl"
            data-owl-options='{
                          "nav": false,
                          "responsive": {
                              "768": {
                                  "nav": true
                              }
                          }
                      }'
          >
            <div class="banner banner-poster">
              <a href="#">
                <img
                  src="assets/images/demos/demo-13/banners/banner-7.jpg"
                  alt="Banner"
                />
              </a>

              <div class="banner-content banner-content-right">
                <h3 class="banner-subtitle"><a href="#">Amazing Value</a></h3>
                <!-- End .banner-subtitle -->
                <h2 class="banner-title">
                  <a href="#">High Performance 4K TVs</a>
                </h2>
                <!-- End .banner-title -->
                <a href="#" class="banner-link"
                  >Shop Now <i class="icon-long-arrow-right"></i
                ></a>
              </div>
              <!-- End .banner-content -->
            </div>
            <!-- End .banner -->

            <div class="banner banner-poster">
              <a href="#">
                <img
                  src="assets/images/demos/demo-13/banners/banner-8.jpg"
                  alt="Banner"
                />
              </a>

              <div class="banner-content">
                <h3 class="banner-subtitle"><a href="#">Weekend Deal</a></h3>
                <!-- End .banner-subtitle -->
                <h2 class="banner-title">
                  <a href="#">Apple & Accessories</a>
                </h2>
                <!-- End .banner-title -->
                <a href="#" class="banner-link"
                  >Shop Now <i class="icon-long-arrow-right"></i
                ></a>
              </div>
              <!-- End .banner-content -->
            </div>
            <!-- End .banner -->
          </div>
          <!-- End .owl-carousel -->

          <div class="mb-3"></div>
          <!-- End .mb-3 -->

          <div
            class="owl-carousel owl-simple owl-nav-align"
            data-toggle="owl"
            data-owl-options='{
                          "nav": false, 
                          "dots": true,
                          "margin": 30,
                          "loop": false,
                          "responsive": {
                              "0": {
                                  "items":2
                              },
                              "420": {
                                  "items":3
                              },
                              "600": {
                                  "items":4
                              },
                              "900": {
                                  "items":5
                              },
                              "1024": {
                                  "items":6,
                                  "nav": true, 
                                  "dots": false
                              }
                          }
                      }'
          >
            <a href="#" class="brand">
              <img src="assets/images/brands/2.png" alt="Brand Name" />
            </a>

            <a href="#" class="brand">
              <img src="assets/images/brands/3.png" alt="Brand Name" />
            </a>

            <a href="#" class="brand">
              <img src="assets/images/brands/4.png" alt="Brand Name" />
            </a>

            <a href="#" class="brand">
              <img src="assets/images/brands/5.png" alt="Brand Name" />
            </a>

            <a href="#" class="brand">
              <img src="assets/images/brands/6.png" alt="Brand Name" />
            </a>

            <a href="#" class="brand">
              <img src="assets/images/brands/1.png" alt="Brand Name" />
            </a>

            <a href="#" class="brand">
              <img src="assets/images/brands/2.png" alt="Brand Name" />
            </a>
          </div>
          <!-- End .owl-carousel -->

          <div class="mb-3 mb-lg-5"></div>
          <!-- End .mb-3 mb-lg-5 -->

          <div class="cat-blocks-container">
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/1.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">Desktop Computers</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->

              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/2.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">Monitors</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->

              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/3.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">Laptops</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->

              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/4.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">iPads & Tablets</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->

              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/5.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">Hard Drives & Storage</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->

              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/6.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">Printers & Supplies</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->

              <div class="col-6 col-md-4 col-lg-3">
                <a href="category.html" class="cat-block">
                  <figure>
                    <span>
                      <img
                        src="assets/images/demos/demo-13/cats/cat-page/7.jpg"
                        alt="Category image"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">Computer Accessories</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .cat-blocks-container -->

          <div class="mb-2"></div>
          <!-- End .mb-2 -->

          <h2 class="title title-border">Featured Items</h2>
          <!-- End .title -->

          <app-product-carousel
            [products]="featuredProducts$ | async"
            [customOptions]="carouselOptions"
            type="verticalActions"
          ></app-product-carousel>
          <!-- End .owl-carousel -->

          <div class="mb-4"></div>
          <!-- End .mb-4 -->

          <h2 class="title title-border">Top Selling Items</h2>

          <app-product-grid
            [products]="bestSellerProducts$ | async"
            customClasses="mb-3"
            cardType="vertActions"
          ></app-product-grid>
          <!-- End .products -->
        </div>
        <!-- End .col-lg-9 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->

<!-- Plugins JS File -->
<!-- <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script> -->
<!-- Main JS File -->
<!-- <script src="assets/js/main.js"></script> -->

<!-- Plugins CSS File -->
<!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css"> -->
<!-- Main CSS File -->
<!-- <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="assets/css/demos/demo-13.css"> -->
