<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/home">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ category?.name }}
        </li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-4-5col">
          <div class="cat-blocks-container">
            <div class="row">
              <div
                *ngFor="let subcategory of subcategories"
                class="col-6 col-md-4 col-lg-3"
              >
                <a
                  [routerLink]="[
                    '/shop/category',
                    category?.slug,
                    subcategory?.slug
                  ]"
                  class="cat-block"
                >
                  <figure>
                    <span>
                      <img
                        [src]="subcategory?.image"
                        [alt]="subcategory?.name"
                      />
                    </span>
                  </figure>

                  <h3 class="cat-block-title">{{ subcategory?.name }}</h3>
                  <!-- End .cat-block-title -->
                </a>
              </div>
              <!-- End .col-6 col-md-4 col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .cat-blocks-container -->

          <div class="mb-2"></div>
          <!-- End .mb-2 -->

          <h2 class="title title-border">Featured Items</h2>
          <!-- End .title -->

          <app-product-carousel
            [products]="featuredProducts$ | async"
            [customOptions]="carouselOptions"
            type="verticalActions"
          ></app-product-carousel>
          <!-- End .owl-carousel -->

          <div class="mb-4"></div>
          <!-- End .mb-4 -->

          <h2 class="title title-border">Top Selling Items</h2>

          <app-product-grid
            [products]="bestSellerProducts$ | async"
            customClasses="mb-3"
            cardType="vertActions"
          ></app-product-grid>
          <!-- End .products -->
        </div>
        <!-- End .col-lg-9 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
