/* Demo 13 Homepage 13 */
@import "../../../../../assets/sass/mixins/clearfix";
@import "../../../../../assets/sass/mixins/breakpoints";
@import "../../../../../assets/sass/mixins/lazy";
@import "../../../../../assets/sass/mixins/buttons";

@import "../../../../../assets/sass/config/fonts";
@import "../../../../../assets/sass/config/variables";

@import "./styles/category";

.row {
  justify-content: center;
}

.title {
  font-weight: 600;
  letter-spacing: -0.025em;
}

.title-border {
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #ebebeb;
}

.owl-simple.owl-nav-inside {
  left: 10px;
  right: auto;
  bottom: 20px;
}

.owl-simple [class*="owl-"]:not(:hover):not(:focus) {
  color: #666;
}

.owl-simple [class*="owl-"] {
  font-size: 2.6rem;
}

.cat-blocks-container {
  padding-top: 0.5rem;

  [class*="col-"] {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
}

.cat-block-title {
  color: #666666;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: color 0.35s ease;
}

.cat-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 0.4rem;
  transition: box-shadow 0.35s ease;
  min-height: 160px;
  padding-bottom: 1.5rem;

  figure {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 124px;
    margin: 0;

    span {
      position: relative;
    }
  }

  img {
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.35s ease;
  }

  &:hover {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);

    .cat-block-title {
      color: $primary-color;
    }
  }
}

.banner {
  overflow: hidden;
}

.banner,
.banner img {
  border-radius: 0.2rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  top: 3rem;
  left: 3rem;
  bottom: 3.2rem;
  transform: translateY(0);
}

.banner-subtitle {
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  margin-bottom: 1.2rem;
}

.banner-title {
  flex-grow: 1;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;

  span {
    font-weight: 300;
  }
}

.banner-link {
  align-self: flex-start;
  width: auto;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  border-radius: 0.3rem;
  padding: 0.75rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.35s ease;

  i {
    margin-left: 0.5rem;
  }

  &.banner-link-dark:not(:hover):not(:focus) {
    background-color: rgba(51, 51, 51, 0.2);
  }

  &:hover,
  &:focus {
    color: #333;
    text-decoration: none !important;
    background-color: #fff;
  }
}

.banner-text {
  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.product-label {
  border-radius: 0.2rem;
}

.product {
  border-radius: 0.2rem;
}

.product-action-vertical {
  transform: translateY(0);
}

.btn-product-icon {
  border-radius: 50%;
  background-color: #fff;
  border: 0.1rem solid $primary-color;

  span {
    top: -1px;
    bottom: -1px;
  }

  &:hover,
  &:focus {
    background-color: $primary-color;

    span {
      background-color: $primary-color;
    }
  }
}

.product-action {
  left: 2rem;
  right: 2rem;
  transform: translateY(0);
}

.btn-product {
  padding-top: 1.05rem;
  padding-bottom: 1.05rem;
  color: $primary-color;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0.2rem;
  border: 0.1rem solid $primary-color;

  &:before {
    margin-right: 0.6rem;
  }

  span {
    color: $primary-color;
  }

  &:before {
    display: inline-block;
    margin-top: -0.1rem;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;

    span {
      color: #fff;
      box-shadow: none;
    }
  }
}

.product-body {
  padding-bottom: 1.8rem;
  overflow: hidden;
}

.product-cat {
  color: #ccc;
}

.product-price {
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
}

.old-price {
  text-decoration: none;
}

.product-title {
  font-size: 1.4rem;
}

.ratings-text {
  margin-left: 0.5rem;
}

/* Category market page */
.owl-simple [class*="owl-"] {
  font-size: 2.6rem;
}

.toolbox {
  color: #666666;
  background-color: #f8f8f8;
  padding: 2rem;
  margin-bottom: 2.5rem;
}

.toolbox-info {
  color: inherit;
}

.owl-nav-top.owl-simple {
  // position: absolute;
  // right: -0.5rem;
  // top: -6rem;
  display: flex;
  align-items: center;

  [class*="owl-"] {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: auto;
    height: auto;
    margin-top: 0;
  }
}

.filter-colors a {
  width: 2rem;
  height: 2rem;
}

.banner-sidebar-title {
  color: #ccc;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.sidebar-shop {
  .widget {
    padding-bottom: 2.5rem;
    margin-bottom: 3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .widget-title {
    margin-bottom: 1.7rem;
  }

  .widget-banner-sidebar {
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
  }

  .custom-control-label {
    color: #666;
  }

  .widget-categories {
    padding-bottom: 0.5rem;
  }

  .filter-colors {
    margin-left: -0.3rem;
    margin-right: -0.3rem;
  }
}

.custom-control.custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::before {
  border-color: #333;
}

.custom-control.custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::after {
  background-color: #333;
}

.filter-item .ratings-container {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.widget-categories {
  .acc-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.9rem;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 0;

    a {
      position: relative;
      display: block;
      padding: 0;
      color: $primary-color;

      &:before {
        color: #333;
        content: "\e802";
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 50%;
        font: normal 1rem/1 "molla";
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transition: all 0.3s;
      }

      &.collapsed {
        color: #333;

        &:hover,
        &:focus {
          color: $primary-color;
        }

        &:before {
          content: "\f110";
          transform: translateY(-50%);
          -ms-transform: translateY(-50%);
        }
      }
    }
  }

  .collapse-wrap {
    padding: 0.4rem 0 0;
  }

  ul {
    margin: 0;

    li {
      margin: 0;
    }

    a {
      display: block;
      font-weight: 300;
      font-size: 1.3rem;
      line-height: 1.5;
      color: #666;
      padding: 0.5rem 0;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }
}

.banner-poster {
  .banner-content {
    left: 3rem;
    bottom: auto;
    padding-top: 0;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .banner-content-right {
    left: auto;
    right: 3rem;
  }

  .banner-subtitle {
    margin-bottom: 1.1rem;
  }

  .banner-title {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }

  .banner-link {
    &:not(:hover):not(:focus) {
      background-color: rgba(102, 102, 102, 0.2);
    }
  }
}

.category-banners-slider.owl-nav-inside {
  .owl-nav [class*="owl-"] {
    color: #666;
  }

  .owl-nav .owl-prev {
    left: 1rem;
  }

  .owl-nav .owl-next {
    right: 1rem;
  }
}

@include mq("sm") {
  .owl-simple.owl-nav-inside {
    left: 0;
    right: 0;
  }
}

@include mq("md") {
  .banner-poster {
    .banner-content {
      left: 8rem;
    }

    .banner-content-right {
      left: auto;
      right: 8rem;
    }

    .banner-title {
      font-size: 2.4rem;
    }
  }
}

@include mq("lg") {
  .owl-simple.owl-nav-inside {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    margin-left: -198px;
    bottom: 3rem;
  }

  .owl-nav-align {
    margin-left: 4rem;
    margin-right: 4rem;
    width: calc(100% - 8rem);
  }

  .banner-title {
    font-size: 2.2rem;
  }
}

@include mq("xl") {
  .owl-simple.owl-nav-inside {
    margin-left: -188px;
    bottom: 4rem;
  }

  .owl-simple.owl-nav-inside {
    left: 3rem;
  }

  .owl-simple.owl-nav-inside {
    right: 3rem;
  }

  .banner-title {
    font-size: 2.4rem;
  }
}

@include mq("sm", "max") {
  .banner-content {
    top: 1.5rem;
    bottom: 1.5rem;
  }
}

@media screen and (max-width: 799px) {
  .row {
    justify-content: center;
    > div:first-child {
      text-align: center;
    }
  }
}
