// desc content
@import "../../../../../assets/sass/config/variables";

.product-desc-content {
  h2 {
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: -0.01em;
    margin-bottom: 1.8rem;
  }

  h3 {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    margin-bottom: 1.8rem;
  }

  ul {
    color: #333333;
    li {
      position: relative;
      padding-left: 1.3rem;

      &:before {
        content: "•";
        position: absolute;
        display: block;
        top: 0;
        left: 0.2rem;
      }
    }
  }

  a {
    color: #333;
    border-bottom: 0.1rem solid #b8b8b8;
    transition: all 0.35s ease;

    &:hover,
    &:focus {
      color: $primary-color;
      border-bottom-color: $primary-color;
    }
  }

  blockquote {
    color: #333;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    margin-bottom: 1.6rem;

    p {
      margin-bottom: 0;
    }

    cite {
      font-weight: 300;
      font-size: 1.4rem;
      letter-spacing: 0;
    }
  }
}
