<div class="product-desc-content">
  <h3>Information</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
    Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
    urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget
    felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
  </p>

  <h3>Fabric & care</h3>
  <ul>
    <li>Faux suede fabric</li>
    <li>Gold tone metal hoop handles.</li>
    <li>RI branding</li>
    <li>Snake print trim interior</li>
    <li>Adjustable cross body strap</li>
    <li>
      Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm
    </li>
  </ul>

  <h3>Size</h3>
  <p>one size</p>
</div>
