@import "../../../../../../../assets/sass/mixins/breakpoints";

.container,
.container-fluid {
  position: relative;
  display: flex;
  align-items: center;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
  align-self: stretch;
}

.header-center {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.logo {
  display: block;
  margin-top: 2.55rem;
  margin-bottom: 2.95rem;
  flex-shrink: 0;
  min-height: 25px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 16rem;
  }
}

.header-right {
  .header-menu,
  .header-dropdown:first-child .header-menu {
    left: auto;
    right: 0;
  }

  .top-menu + .header-dropdown {
    margin-left: 2.5rem;
  }
}

.header-middle {
  border-bottom: 0.1rem solid #f4f4f4;
  .menu > li > a {
    letter-spacing: 0.01em;
  }
  .menu.sf-arrows > li > .sf-with-ul {
    padding-right: 1.5rem;
  }
}

.mobile-menu-toggler {
  border: none;
  background: transparent;
  color: $body-text;
  padding: 0.2rem 0.25rem;
  font-size: 2.8rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-middle {
  .header-left {
    flex: 0 0 calc((100% + 20px) / 4);
    max-width: calc((100% + 20px) / 4);
    margin: 0;
  }

  .header-center {
    flex: 0 0 calc((100% + 20px) / 2 - 20px);
    max-width: calc((100% + 20px) / 2 - 20px);
    margin: 0;
  }

  .header-right {
    margin-left: auto;
  }
}

.header-middle {
  .header-right {
    p {
      font-size: 1.1rem;
    }
  }
}

.account,
.wishlist,
.compare-dropdown {
  display: flex;
  align-self: stretch;
  align-items: initial;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.account a {
  font-size: 3rem;
  color: #333;
  line-height: 1;
}

.wishlist a {
  font-size: 2.8rem;
  color: #333;
  line-height: 1;
}

.wishlist .wishlist-count {
  min-width: 1.6rem;
  height: 1.6rem;
}

.wishlist .wishlist-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
}

.wishlist .wishlist-count {
  position: absolute;
  top: 0;
  right: -0.5rem;
}

.wishlist,
.account {
  padding-left: 3rem;
  .dropdown-toggle {
    color: #333;
  }
}

@include mq("lg") {
  .mobile-menu-toggler {
    display: none;
  }
}

@include mq("sm", "max") {
  .compare-dropdown,
  .wishlist-link {
    display: none;
  }
}

@media (max-width: 340px) {
  .compare-dropdown,
  .wishlist,
  .account,
  .wishlist-link {
    display: none !important;
  }
}

.logo {
  margin-top: 2.9rem;
  margin-bottom: 2.9rem;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $primary-color;
  background-color: transparent;
}

.header-middle {
  border-bottom: none;
  .container::after {
    position: absolute;
    content: "";
    bottom: -0.1rem;
    left: 1rem;
    right: 1rem;
    height: 0.1rem;
    background-color: #ebebeb;
  }
}

.compare-dropdown {
  .dropdown-menu {
    margin-top: 0;
  }
}

.compare-dropdown:not(:hover):not(.show) .dropdown-toggle,
.mobile-menu-toggler,
.wishlist-link:not(:hover):not(:focus) {
  color: #333;
}

.mobile-menu-toggler {
  margin-left: 0;
}

@media screen and (max-width: 991px) {
  .header-middle .header-center {
    display: none;
  }
}

@include mq("lg") {
  .mobile-search {
    display: none;
  }
}
