<div class="header-middle">
  <div class="container">
    <div class="header-left">
      <button
        [ngClass]="mobileDrawerOpen ? 'active' : ''"
        class="mobile-menu-toggler"
        (click)="toggleMobileDrawer()"
      >
        <span class="sr-only">Toggle mobile menu</span>
        <i class="icon-bars"></i>
      </button>

      <a routerLink="/home" class="logo">
        <img src="assets/images/logo.png" alt="Eboves Logo" />
      </a>
    </div>
    <!-- End .header-left -->

    <div class="header-center">
      <app-header-search></app-header-search>
      <!-- End .header-search -->
    </div>

    <div class="header-right">
      <!-- <div class="account">
        <a href="dashboard" title="My account">
          <div class="icon">
            <i class="icon-user"></i>
          </div>
          <p>Account</p>
        </a>
      </div> -->
      <!-- End .compare-dropdown -->

      <!-- <div class="wishlist">
        <a href="wishlist" title="Wishlist">
          <div class="icon">
            <i class="icon-heart-o"></i>
            <span class="wishlist-count badge">3</span>
          </div>
          <p>Wishlist</p>
        </a>
      </div> -->
      <!-- End .compare-dropdown -->

      <app-cart-dropdown></app-cart-dropdown>
    </div>
    <!-- End .header-right -->
  </div>
  <!-- End .container -->
</div>
