<div class="header-bottom sticky-header">
  <div class="container">
    <div class="header-left">
      <app-category-dropdown [categories]="categories"></app-category-dropdown>
      <!-- End .category-dropdown -->
    </div>
    <!-- End .header-left -->

    <div class="header-center">
      <app-mega-menu class="mega-menu" [brands]="brands"></app-mega-menu>
      <!-- End .main-nav -->
    </div>
    <!-- End .header-center -->

    <div class="header-right">
      <i class="la la-lightbulb-o"></i>
      <p>Launch Sale<span class="highlight">&nbsp;Up to 70% Off</span></p>
    </div>
  </div>
  <!-- End .container -->
</div>
